
body {
    background-color: slategray;
}
#login-header {
    font-family: 'Old Standard TT', serif;
    text-align: center;
    color: antiquewhite;
    text-decoration: underline;
    font-size: 250%;
}
.login-options{
    font-family: 'Old Standard TT', serif;
    text-align: center;
    color: antiquewhite;
    text-decoration: underline;
    font-size: 150%;
    padding-top: 10vh;
}
#register-form {
    display: none;
    text-align: center;
}
#login-form {
    display: none;
    text-align: center;
}